<app-lights></app-lights>
<h1 style="padding-left:20px ; padding-top: 40px;">
  <button (click)="sidenav.toggle()" mat-mini-fab color="primary">
    <mat-icon>menu</mat-icon>
  </button> 
  Advent of code 2023 ☃️🎄
</h1>

<mat-sidenav-container class="example-container"  style="height: 100%;">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-list>
      <mat-list-item ><a [routerLink]="['']">Home</a></mat-list-item>
      <ng-container *ngFor="let dayRoute of dayRoutes">
        <mat-list-item ><a [routerLink]="['/day', dayRoute.path]">Day {{dayRoute.path}}</a></mat-list-item>
      </ng-container>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content style="padding-left:10px">
    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

